<% provide(:title,'Home') %>
        <h1>Sample App</h1>
        <p>Find me in app/views/static_pages/home.html.erb</p>
        <h2>this is getting reaallllll</h2>
        <h3>Sample App</h3>
</html>
